[package]
authors = ["Oleksii Karpenko <alexkarpenko@yahoo.com>"]
description = "HTTP requests splitter/router/relay"
edition = "2021"
keywords = ["http", "splitter", "relay", "router"]
license = "MIT OR Apache-2.0"
name = "http-dragonfly"
repository = "https://github.com/alex-karpenko/http-dragonfly"
version = "0.3.8"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.99"
clap = { version = "4.5.47", features = ["derive"] }
futures-util = "0.3.31"
http-body-util = "0.1.3"
humantime-serde = "1.1.1"
hyper = { version = "1.7.0", features = ["http1"] }
hyper-rustls = { version = "0.27.7", default-features = false, features = [
    "http1",
    "ring",
    "rustls-native-certs",
    "tls12",
    "webpki-roots",
] }
hyper-util = { version = "0.1.16", features = ["server", "client", "client-legacy", "http1", "server-auto"] }
jaq-interpret = "1.5.0"
jaq-parse = "1.0.3"
regex = "1.11.2"
rustls = { version = "0.23.31", default-features = false, features = ["ring", "std", "tls12"] }
rustls-pemfile = "2.2.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
serde_yaml = "0.9.34"
shellexpand = { version = "3.1.1", default-features = false, features = ["base-0"] }
strum = { version = "0.27.2", features = ["derive"] }
strum_macros = "0.27.2"
thiserror = "2.0.16"
tokio = { version = "1.47.1", features = ["macros", "signal", "tracing", "rt-multi-thread"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = ["env-filter", "json"] }
uuid = { version = "1.18.1", features = ["v4", "fast-rng"] }

[dev-dependencies]
insta = { version = "1.43.2", features = ["glob", "ron", "redactions", "filters"] }
reqwest = "0.12.23"
tokio-rustls = { version = "0.26.2", default-features = false, features = ["ring", "tls12"] }

[build-dependencies]
anyhow = "1.0.97"
